<section class="timeline-carousel">

       <div class="timeline-carousel__item-wrapper" data-js="timeline-carousel">
              <!-- Timeline item 1 -->
              <div class="timeline-carousel__item">
                     <div class="timeline-carousel__image">
                            <div class="media-wrapper media-wrapper--overlay"
                                   style="background: url('../../../../../public/dhl.jpeg') center center; background-size:75%;background-repeat: no-repeat;"></div>
                     </div>

              </div>
              <!-- Timeline item 2 -->
              <div class="timeline-carousel__item">
                     <div class="timeline-carousel__image">
                            <div class="media-wrapper media-wrapper--overlay"
                                   style="background: url('../../../../../public/feedx.png') center center; background-size:75%;background-repeat: no-repeat;"></div>
                     </div>

              </div>
              <!-- Timeline item 3 -->
              <div class="timeline-carousel__item">
                     <div class="timeline-carousel__image">
                            <div class="media-wrapper media-wrapper--overlay"
                                   style="background: url('../../../../../public/mondialrey.jpg') center center; background-size:75%;background-repeat: no-repeat;"></div>
                     </div>

              </div>
              <!-- Timeline item 4 -->
              <div class="timeline-carousel__item">
                     <div class="timeline-carousel__image">
                            <div class="media-wrapper media-wrapper--overlay"
                                   style="background: url('../../../../../public/ups.png') center center; background-size:75%;background-repeat: no-repeat;"></div>
                     </div>

              </div>
              <!-- Timeline item 5 -->
              <div class="timeline-carousel__item">
                     <div class="timeline-carousel__image">
                            <div class="media-wrapper media-wrapper--overlay"
                                   style="background: url('../../../../../public/uspostal.jpeg') center center; background-size:75%;background-repeat: no-repeat;"></div>
                     </div>

              </div>

       </div>
</section>
